.tabs {
    width: 20em;
    font-family: "lucida grande", sans-serif;
  }
  
  [role="tablist"] {
    margin: 0 0 -0.1em;
    overflow: visible;
  }
  
  [role="tab"] {
    position: relative;
    margin: 0;
    padding: 0.3em 0.5em 0.4em;
    border: 1px solid hsl(219, 1%, 72%);
    border-radius: 0.2em 0.2em 0 0;
    box-shadow: 0 0 0.2em hsl(219, 1%, 72%);
    overflow: visible;
    font-family: inherit;
    font-size: inherit;
    background: hsl(220, 20%, 94%);
  }
  
  [role="tab"]:hover::before,
  [role="tab"]:focus::before,
  [role="tab"][aria-selected="true"]::before {
    position: absolute;
    bottom: 100%;
    right: -1px;
    left: -1px;
    border-radius: 0.2em 0.2em 0 0;
    border-top: 3px solid hsl(113, 96%, 48%);
    content: '';
  }
  
  [role="tab"][aria-selected="true"] {
    border-radius: 0;
    background: hsl(220, 43%, 99%);
    outline: 0;
  }
  
  [role="tab"][aria-selected="true"]:not(:focus):not(:hover)::before {
    border-top: 5px solid hsl(220, 43%, 99%);
  }
  
  [role="tab"][aria-selected="true"]::after {
    position: absolute;
    z-index: 3;
    bottom: -1px;
    right: 0;
    left: 0;
    height: 0.3em;
    background: hsl(220, 43%, 99%);
    box-shadow: none;
    content: '';
  }
  
  [role="tab"]:hover,
  [role="tab"]:focus,
  [role="tab"]:active {
    outline: 0;
    border-radius: 0;
    color: inherit;
  }
  
  [role="tab"]:hover::before,
  [role="tab"]:focus::before {
    border-color: hsl(20, 96%, 48%);
  }
  
  [role="tabpanel"] {
    position: relative;
    z-index: 2;
    padding: 0.5em 0.5em 0.7em;
    border: 1px solid hsl(219, 1%, 72%);
    border-radius: 0 0.2em 0.2em 0.2em;
    box-shadow: 0 0 0.2em hsl(219, 1%, 72%);
    background: hsl(220, 43%, 99%);
  }
  
  [role="tabpanel"]:focus {
    border-color: hsl(20, 96%, 48%);
    box-shadow: 0 0 0.2em hsl(20, 96%, 48%);
    outline: 0;
  }
  
  [role="tabpanel"]:focus::after {
    position: absolute;
    bottom: 0;
    right: -1px;
    left: -1px;
    border-bottom: 3px solid hsl(20, 96%, 48%);
    border-radius: 0 0 0.2em 0.2em;
    content: '';
  }
  
  [role="tabpanel"] p {
    margin: 0;
  }
  
  [role="tabpanel"] * + p {
    margin-top: 1em;
  }
  /*************port*/
  
  /************* PORFOLIO *************/
  
  #portfolio {
      background-color: #3fabce;
      padding: 88px 0;
      text-align: center;
      color: #fff;
      box-shadow: 0 1px 16px rgba(0, 0, 0, .4);
  }
  
  #portfolio h1 {
      font-family: cursive;
      font-size: 3.2em;
  }
  
  #myTab {
      padding-top: 12px;
  }
  
  #portfolio .titreBorder:after {
      background: #fff;
  }
  
  .nav-link {
      color: #fff;
  }
  
  #myTabContent {
      width: 100%;
      padding-top: 30px;
  }
  
  .modal-dialog {
      max-width: 700px !important;
  }
  
  .modal-title{
      color: #0D1E4C;  
  }
  .modal-left img{
      width: 100%;
      height: auto;
  }
  
  .modal-right {
    color: #0D1E4C;  
      text-align: left;
  }
  
  .modal-right h5{
      font-size: 1.1em;
  }
  
  .modal-right p{
      font-size: 0.9em;
  }
  
  .card-header {
      padding: .75rem 0.25rem !important;
  }
  .overlay {
    position: absolute; 
    bottom: 0; 
    background: rgba(76, 13, 71, 0.5);
    color: #f1f1f1; 
    width: 90%;
    transition: .5s ease;
    opacity:0;
    font-size: 15px;
    padding: 10px;
    text-align: center;
  }
  
  .work-item:hover .overlay {
    opacity: 1;
  }
  
  .fa-search-plus{
      margin-right: 0 !important;
  }
  
  .work-item{
      margin: 10px 0;
  }
  /************/
  /**********/

  .hero-image {
/* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("  {% static 'assets/img/logo/logo.png' %} ");*/
 height: 55%;
 
 border-radius: 50%;

}
  /**************/
  /* hero background image */
.bgimage {
    height:100vh;
    background: url('/static/assets/img/nour.jpg');
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
}
